.products-list li{
    width:24.25%;
    margin: 1% 1% 0 0;
    text-align: center;
    border: 1px solid #ddd;
    padding: 1em 0;
}

.products-list li:nth-child(4n){
    margin-right: 0;
}

.products-list li i{
    color: #dedede;
    display: block;
    margin: 5% 0;
}
